[Desktop Entry]
Name=Wifi settings
Comment=nmtui wifi
Exec=nmtui
Icon=org.xfce.settings.accessibility
Terminal=false
Type=Application
X-XfcePluggable=true
X-XfceHelpPage=accessibility
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
